@import "tailwindcss";

@theme {
  --color-primary: #6750a4;
  --color-on-primary: #ffffff;
  --surface: #0b0b0b;
  --on-surface: #eaeaea;
}

:root {
  color-scheme: dark;
}

html,
body,
#root {
  height: 100%;
}
body {
  @apply bg-neutral-900 text-neutral-100;
}
